@import url(https://fonts.googleapis.com/css?family=Raleway);

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}




address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}
/* Demo purposes only */
body {
  background-color: #191919;
  text-align: center;
	color:  #191919;
}
.design{
	width: 1200px;
	margin: auto;
	font-family: 'Raleway';
	font-size: 24px;
}
